@import-normalize;
@font-face {
  font-family: "Gotham Pro";
  src: url("./assets/fonts/ofont.ru_Gotham\ Pro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("./assets/fonts/ofont.ru_Gotham\ Pro\ \(1\).ttf") format("truetype");
  font-style: medium;
  font-weight: 500;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("./assets/fonts/ofont.ru_Gotham\ Pro\ \(2\).ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("./assets/fonts/ofont.ru_Gotham\ Pro\ \(3\).ttf") format("truetype");
  font-style: black;
  font-weight: 900;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Gotham Pro", sans-serif;
  font-size: 100%;
  line-height: 12px;
  font-size: 14px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.-container {
  width: percentage(268 / 320);
  max-width: 1302px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  @media (min-width: 768px) {
  }
  @media (min-width: 1024px) {
  }
  @media (min-width: 1366px) {
  }
}

.line {
  width: 50px;
  height: 3px;
  background: #83bf0e;
  border-radius: 5px;
  @media (min-width: 768px) {
    width: 72px;
    height: 6px;
  }
}

.title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  @media (min-width: 768px) {
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-size: 32px;
  }
  @media (min-width: 1366px) {
    font-size: 40px;
    font-style: normal;
    line-height: 140%;
  }
}

.imgMobil {
  @media (min-width: 768px) {
    display: none;
  }
}

.imgTabl {
  display: none;
  @media (min-width: 768px) and (max-width: 1366px) {
    display: block;
  }
}

.imgDesc {
  @media (max-width: 1366px) {
    display: none;
  }
}

#vis {
  transform: translateY(100%);
}
